/inventory/group_vars/all/credentials.yml
/inventory/group_vars/all/custom.yml
/inventory/group_vars/all/ssh_host_keys.yml
/inventory/group_vars/kube_lab/kubeadm_token.yml
/inventory/group_vars/kube_lab/kubeadm_ca_cert.yml
/third_party/
