[defaults]

# Install collections into ./third_party/ansible_collections/namespace/collection_name
collections_path = ./third_party

# Install roles into ./third_party/ansible_roles/namespace.rolename
roles_path = ./third_party/ansible_roles

# YAML-ized Ansible screen output
# See also https://docs.ansible.com/ansible/latest/collections/ansible/builtin/default_callback.html#ansible-collections-ansible-builtin-default-callback
result_format = yaml

# When a task fails, display the path to the file containing the failed task and the line number. This information is displayed automatically for every task when running with -vv or greater verbosity.
show_task_path_on_failure = true
