[defaults]

# Install collections into ./third_party/ansible_collections/namespace/collection_name
collections_paths = ./third_party

# Install roles into ./third_party/ansible_roles/namespace.rolename
roles_path = ./third_party/ansible_roles
