[Unit]
Description=Create LVM group for OpenEBS volumes

# Run after the systemd-udevd.service to ensure that udev is running.
# We need udev for auto-activating the LVM volumes, see also:
# https://access.redhat.com/documentation/en-us/red_hat_enterprise_linux/8/html/configuring_and_managing_logical_volumes/assembly_lvm-activation-configuring-and-managing-logical-volumes
Wants=systemd-udevd.service
After=systemd-udevd.service

[Service]
Type=oneshot
RemainAfterExit=no

ExecStart=/var/usrlocal/bin/create-openebs-lvm.sh

[Install]
WantedBy=multi-user.target
