[Unit]
Description=Create block device for LVM Storage

[Service]
Type=oneshot
RemainAfterExit=no

ExecStart=/var/usrlocal/bin/create-lvm-block.sh

[Install]
WantedBy=multi-user.target
