[Unit]
Description=Create device loop2

[Service]
Type=oneshot
RemainAfterExit=no

ExecStart=/var/usrlocal/bin/create-device-loop2.sh

[Install]
WantedBy=multi-user.target
