[Unit]
Description=Create LVM group for ODF LVM volumes

[Service]
Type=oneshot
RemainAfterExit=no

ExecStart=/usr/local/bin/create-odf-lvm.sh

[Install]
WantedBy=multi-user.target
