[Unit]
Description=Set root user password. This allows us to log in in single-user mode (systemd.unit=rescue.target).

[Service]
Type=oneshot
RemainAfterExit=no

Environment='PASSWORD={{ generic_user_password | string | password_hash("sha512", "constant") }}'
ExecStart=usermod --password ${PASSWORD} root

[Install]
WantedBy=multi-user.target
